
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root{
    --hue: 0;
    --sat: 0%;
    --black: hsl(var(--hue),var(--sat),0%);
    --black1: hsl(var(--hue),var(--sat),20%);
    --black2: hsl(var(--hue),var(--sat),46%);
    --black3: hsl(var(--hue),var(--sat),95%);
    --black4: hsl(var(--hue),var(--sat),98%);
    --xl: 38px;
    --md2: 20px;
    --md: 16px;
    --sm: 14px;
}

html{
    padding: 0;
    margin: 0;
    
}

body{
    font-family: 'Roboto',sans-serif;
    display: flex;
    justify-content: center;
    background-color: var(--black4);
}